@page "/counter"
@page "/counter/{CurrentCount:int}"


@*@inject NavigationManager navManager;*@

<h1>Counter</h1>

<p>Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<a class="btn btn-primary" href="FetchData"></a>

@code {
    //private int currentCount = 0;

    private void IncrementCount()
    {
        CurrentCount++;

        //navManager.NavigateTo("FetchData");
    }

    [Parameter]
    public int CurrentCount { get; set; }
}
