@page "/JSInterop"
@inject IJSRuntime JSRuntime;

<h3>JsInterop</h3>

<div>
    <button type="button" class="btn btn-primary" @onclick="HelloWorld">
        HelloWorld
    </button>
</div>

<br />

<div>
    <button type="button" class="btn btn-primary" @onclick="InputName">
        InputName
    </button>
    <p>@_name</p>
</div>

@code {
    string _name = "";

    public async void HelloWorld()
    {
        await JSRuntime.InvokeVoidAsync("testFunction.helloWorld", null);
    }

    public async void InputName()
    {
        _name = await JSRuntime.InvokeAsync<string>("testFunction.inputName", "InputName");
        StateHasChanged();
    }
}
